* {
    margin: 0;
    padding: 0;
}
.Gbox {
    background-color: bisque;
    width: 100%;
    height: 500px;
    padding: 40px;
}
.Cbox {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 40px;
}