.table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
th{
    border: 1px solid;
}
td {
    border: 1px solid;
    
}
.button{
    margin-top: 20px;
    font-size: 20px;
    background-color: salmon;
    border: 2px solid;
    border-radius: 15px;
}