.App{
    background-color: palevioletred;
    height: 800px;
}
.App-header{
    text-align: center;
    margin-top: 25px;
}
.content{
    text-align: center;
    color: blue;
}
.btn{
    margin-right: 30px;
    background-color: rgb(239, 170, 67);
    color: black;
    border: none;
    border-radius: 25px;

}
